# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# misc
.DS_Store

# resources
/resources

# archive
/archive

# backups
/backups

# uploads
/uploads

# Tests
src/__mocks__
src/__tests__

# passwords and sensitive data
/tools/Clericus-f242153b0bef.json
/src/config/.private.key
/src/config/.public.key

# environment variables
.env.production
.env.development
.env.development.ssl
.env.develserver

# nyc coverage reports
/.nyc_output

/backup-container.txt
/backup-container-4.txt
/recreate-api.txt
/download-archive.txt

# local ssl cert
/src/cert

# local tools
src/controllers/local-tools

/export-import-plan.txt

# packaged app
/packages
